.git
.github
.idea
.vscode

venv
.venv
.lock-venv

__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
.ruff_cache
.coverage
htmlcov

mlflow.db
mlflow.db-shm
mlflow.db-wal
mlartifacts
mlruns

data
reports
screenshots
tests
deployment

*.log
.env
.DS_Store
Thumbs.db

.gitlab-ci.yml
pytest.ini
requirements-lock.txt
coverage.xml
pytest-results.xml